@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus', serif;

  background: linear-gradient(rgba(0, 80, 60, 0.6), rgba(0, 80, 60, 0.6)), 
              url('kaveh-wallpaper.jpg') top center no-repeat fixed;
  background-size: contain;
  background-color: #2f6659;

  min-height: 100vh;
  color: white;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #A5FFCE;
  border-radius: 20px;
  max-width: 600px;
  box-shadow: 0 0 20px #aaffcc;
  animation: fadeIn 2s ease-in;
  backdrop-filter: blur(6px);
}

h1 {
  font-size: 2.5em;
  color: #A5FFCE;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px #1b473d;
}

.message {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.from {
  font-style: italic;
  font-size: 1.2em;
  color: #fffbe6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}
@media only screen and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center top;
  }

  .container {
    width: 90%;
    padding: 20px;
    font-size: 0.95em;
  }

  h1 {
    font-size: 1.8em;
  }

  .message {
    font-size: 1.2em;
  }

  .from {
    font-size: 1em;
  }
}
